@model PomodoroSession

<div class="justify-content-center border">
    <div class="card text-center">
        <div class="card-header">
            <h1>
                Pomodoro
            </h1>
        </div>
        <div class="card-body justify-content-center">
            <div class="row mt-3">
                <div class="col-md-4 text-center">
                    <button id="startTimerButton" class="btn btn-primary w-75">START</button>
                </div>
                <div class="col-md-4 text-center">
                    <button id="stopTimerButton" class="btn btn-primary w-75">STOP</button>
                </div>
                <div class="col-md-4 text-center">
                    <button class="btn btn-primary w-75">RESET</button>
                </div>
            </div>

            <div class="col-md-10 offset-md-1">
                <h1 id="time" style="font-size: 7em">
                    @Model.Duration.ToString(@"hh\:mm\:ss")
                </h1>
            </div>
        </div>
    </div>
</div>

<script>
    let duration = @Model.Duration.TotalSeconds;
    let timer = duration;
    let display = document.querySelector('#time');
    let startTimerButton = document.querySelector('#startTimerButton');
    let stopTimerButton = document.querySelector('#stopTimerButton');
    let timerInterval;

    startTimerButton.addEventListener('click', function () {
        startTimer(duration, display);
    });

    stopTimerButton.addEventListener('click', function () {
        stopTimer();
    });

    function startTimer(duration, display) {
        let hours, minutes, seconds;
        timerInterval = setInterval(function () {
            hours = parseInt(timer / 3600, 10);
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            if (timer >= 3600) {
                display.textContent = hours + ":" + minutes + ":" + seconds;
            }
            else {
                display.textContent = minutes + ":" + seconds;
            }

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    function stopTimer() {
        clearInterval(timerInterval);
    }

</script>
