<div>
    <div class="col-md-6 col-xl-4 mt-2">
        <div class="card">
            <div class="card-body">
                <div id="totalTasksPieChart" data-colors='["--bs-success"]'></div>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    <script src="~/js/dashboard/getTotalTasksStatusPieChart.js"></script>
}