@model UserTaskVM

<div class="card text-center">
    <div class="card-header">
        <h1>
            Create Task
        </h1>
    </div>
    <div class="card-body d-flex justify-content-center">
        <form class="row">
            <div class="form-group col-md-8 offset-md-2">
                <label for="inputEmail4" class="form-label">Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>

            <div class="form-group col-md-8 offset-md-2">
                <label for="inputPassword4">Description</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
            <div class="form-group col-md-8 offset-md-2">
                <label for="inputEmail4">Status</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>

            <div class="form-group col-md-8 offset-md-2">
                <label for="inputPassword4">Importance</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>

            <div class="form-group col-md-8 offset-md-2">
                <label for="inputPassword4">Deadline</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

